@import 'tailwindcss';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';

/* * */

.contain-content {
	contain: unset !important;
	content-visibility: visible !important;
}

/* * */
/* THEME SWITCH */

html.dark .theme-light {
	display: none;
}

html.light .theme-dark {
	display: none;
}