/* * */
/* CONTAINER */

.container {
	color: var(--color-system-text-300);
	padding: 4px 10px;
	display: flex;
	align-items: center;
	gap: 6px;
	border-radius: 4px;
	font-size: var(--text-sm);
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid transparent;
	border-color: var(--color-system-background-100);
}

.container:hover {
	color: var(--color-brand-contrast);
	background-color: var(--color-brand-primary);
	border-color: var(--color-brand-secondary);
	box-shadow: 0 1px 3px 0 var(--color-brand-shadow);
}